/* url for icon changes and fonts changes link imported */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* selecting/giving all HTML elements on the page changes  */
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Poppins", sans-serif;
    font-weight: 400
}

/* giving a body background color as per my understanding */
body{
    display: relative;
    background-color: rgb(233,230,225);
    height: 100%;
}

/* header navigation bar conatiner behaviour defined */
.nav{
    top: 0;  
    overflow: hidden;
    background-color: rgb(51,51,51);
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.nav-left .style-head{
    margin-right: 19em;
    margin-top: 5rem;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 0.5rem solid red;
    color: aliceblue;
}
.nav-right{
    background-color: green;
    display: grid;
    
}
.nav-right .ab-ref{
    color: white;
    display: flex;
    /* grid-template-columns: 50 50; */
}
/* for hyperlink container main  */
.nav-right .link{
    display: flex;
    gap: 2rem;
}

/* hyperlink text link section */
.link div a{
    color: white;
    text-decoration: none;

}