/* url for icon changes and fonts changes link imported */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* selecting/giving all HTML elements on the page changes  */
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Poppins", sans-serif;
    font-weight: 400
}

/* giving a body background color as per my understanding */
body{
    display: relative;
    background-color: rgb(233,230,225);
    width: 100%;
    height: 100%;
    overflow-x: hidden;   

}
